.divcabecera1{
    width: 100%;
    background-color: white;
    text-align: right;
    padding-top: 0.3%;
    padding-bottom: 0.5%;
}
.acabecera{
    margin-left: 2%;
    color: black;
    text-decoration: none;
}
.acabecera:hover{
    background-color: white;
    color: green;
}
.acabecera2{
    margin-left: 2%;
    margin-right: 1%;
}
.acabecera3{
    margin-left: 2%;
    color: white;
    text-decoration: none;
}
.acabecera3:hover{
    background-color: black;
    color: green;
}
.divcabecera2{
    background-image: url(../imagenes/oxfam.svg);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    background-color: black;
    color: white;  
    align-items: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    width: 100%;
}
.divcosascabecera2{
    margin-left: 10%;
    width: 10%;
}
.divcosascabecera3{
    margin-left: 2%;
    width: 10%;
}
.divcosascabecera4{
    margin-left: 1%;
    width: 20%;
}
.divcosascabecera5{
    width: 20%;
}
.divboton{
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: orange;
    color: white;
    margin-left: 2%;
    width: 10%;
}
.divboton:hover{
    background-color: green;
}
.acabeceraboton{
    margin-left: 2%;
    color: white;
    text-decoration: none;
}
.fotoscabecera1{
    width: 1.5%;
}
.fotoscabecera2{
    width: 1.5%;
}
.bodydonativo{
    background-color: white;
}
.pagdonativo{
    width: 100%;
    background-color: grey;
    opacity: 0.8;    
    height: 50px;
    margin-top: -1%;
}
.capaimadonacion{
    width: 55%;
    height: 10%;
    margin: auto;
    text-align: center;
    background-repeat: no-repeat;
    background-image: url(../imagenes/imadonacion.jpg);
}
.capatexto{
    background-color: black;
    opacity: 0.8;
    width: 100%;
    text-align: center;
    margin: auto;
    height: auto;
}
.textoimagen{
    color: white;
}
.capaverde{
    width: 100%;
    background-color: green;
    height: 50px;
    margin-top: -1%;
}
.textocapaverde{
    color: white;
    font-size: 1.3em;
    text-align: center;
}
.dentrocapaverde{
    width: 55%;
    text-align: center;
    margin: auto;
}
.fondonegroarriva{
    background-color: black;
}
.capaantesformulario{
    margin:auto;
    margin-top: 2%;
    width: 55%;
}
.lineahr{
    margin-top: -2%;
}
.textoformulario{
    color: green;
    text-transform: uppercase;
}
.divmarina{
    background-color: black;
    width: 100%;
    height: 500px;
}
.divmarina2{
    background-image: url(../imagenes/marina2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 500px;
    text-align: center;
    color: white;
    position: relative;
}
.divmarina3{
    margin: 0%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.bodymarina{
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    margin-top: 5%;
}
.videomarina{
    margin-left: -20%;
    margin-right: -20%;
}
.radioformulario{
    margin-left: 22%;
    display: flex;
}
.otracantidad{
    margin-left: 15%;
}
.listaformulario{
    margin-left: 23%;
    margin-top: 4%;
}
.radioformulariodos{
    margin-top: 2%;
    margin-left: 23%;
}
.nombredecampos{
    margin-top: 2%;
    margin-left: 23%; 
}
.labelformulario{
    margin-left: 15%;
}
.camposformulario{
    margin-top: 0.3%;
    margin-left: 23%; 
}
.inputsuno{
    margin-left: 6.5%;
}
.nombredecamposdos{
    margin-top: 2%;
    margin-left: 23%; 
}
.labelformulariodos{
    margin-left: 30%;
}
.camposformulariodos{
    margin-top: 0.3%;
    margin-left: 23%; 
}
.telefono{
    margin-left: 14%;
}
.correo{
    width: 25%;
}
.telefono{
    width: 15%;
}
.destino{
    width: 35%;
}
.otro{
    height: 150%;
}
.formadepagar{
    margin-top: 2%;
    margin-left: 23%; 
}
.mayordeedad{
    margin-top: 2%;
}
.aceptarlosterminos{
    margin-top: 2%;
}
.botondonativo{
  margin-left: 25%;
}
.botondonar{
    margin-top: 2%;
    background-color: green;
    width: 25%;
    padding-bottom: 2%;
    text-align: center;
    align-items: center;
    color: white;
    font-size: large;
}
.pmarina{
    font-size: 23px;
    margin-bottom: 3%;
}
.pmarina2{
    margin-bottom: 10%;
}
.pmarina3{
    font-size: 26px;
    color: orangered;
    margin-bottom: 3%;
}
.h3marina{
    margin-bottom: 15%;
}
.divmarina4{
    padding-top: 50px;
    display: flex;
    background-color: rgb(238, 238, 238);
    width: 140%;
    height: 250px;
    margin-left: -20%;
    margin-right: -20%;
}
.imgmarinalive{
    width: 200px;
    height: 200px;
    margin-right: 2%;
    margin-left: 15%;
}
.divtextolive{
    width: 50%;
    text-align: justify;
}
.pmarina4{
    font-size: 20px;
    margin-bottom: 3%;
}
.h3marina2{
    color: orangered;
}
.divbotonlive{
    text-align: center;
    margin-top: 5%;
}
.botonlive{
    border-style: solid;
    border-width: 1px;
    border-color: orangered;
    color: orangered;
    text-decoration: none;
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
}
.botonlive:hover{
    color: white;
    background-color: orangered;
}
.divmarina5{
    margin-top: 6%;
}
.h2marina{
    color: orangered;
    font-size: 30px;
    margin-bottom: 4%;
}
.pmarina5{
    font-size: 23px;
    margin-bottom: 3%;
}
.divmarina6{
    background-color: rgb(238, 238, 238);
    text-align: left;
    width: 140%;
    height: 500px;
    margin-left: -20%;
    margin-right: -20%;
}
.divbotones{
    display: flex;
    padding-top: 3%;
    margin-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
.botonesp{
    text-align: center;
    width: 50%;
    background-color: white;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.botonselecp{
    text-align: center;
    width: 50%;
    background-color: orangered;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.botones{
    text-decoration: none;
    color: black;
}
.botonselec{
    text-decoration: none;
    color: white;
}
.divbotonestexto{
    display: flex;
}