.divcabecera1{
    width: 100%;
    background-color: white;
    text-align: right;
    padding-top: 0.3%;
    padding-bottom: 0.5%;
}
.acabecera{
    margin-left: 2%;
    color: black;
    text-decoration: none;
}
.acabecera:hover{
    background-color: white;
    color: green;
}
.acabecera2{
    margin-left: 2%;
    margin-right: 1%;
}
.acabecera3{
    margin-left: 2%;
    color: white;
}
.divcabecera2{
    background-image: url(./imagenes/oxfam.svg);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: right;
    background-color: black;
    color: white;
    padding-top: 0.5%;
}
.divboton{
    background-color: yellowgreen;
    color: black;
    margin-left: 2%;
    width: 10%;
}

.acabeceraboton{
    margin-left: 2%;
    color: black;
}
.fotoscabecera1{
    width: 1.5%;
}
.fotoscabecera2{
    width: 1.8%;
}
body{
    background-color: aqua;
}

.imadonacion{
    width: 50%;
    padding: auto;
    margin: autos;
    
}
.pagdonativo{
    width: 100%;
    background-color: black;
    opacity: 0.8;
}